/* styles/Playlists.css */

.outer-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  height: 100vh;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box; 
}

.outer-container > div {
  background-color: #eeeeee;
  /* background-color: #ffa826; */
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: start;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.playlists-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.playlists-list {
  flex-grow: 1; /* Makes the list expand to fill available vertical space */
  display: flex;
  flex-direction: column; /* Align items in a column */
  gap: 15px; /* Space between playlist items */
  overflow-y: auto; /* Make the list scrollable if content overflows */
}

/* .playlist-item {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
} */

.playlist-name {
  flex: 1; /* Make the name section take up available horizontal space */
  word-break: break-word; /* Prevent long names from overflowing */
}

.playlist-actions {
  display: flex;
  gap: 10px;
  flex-shrink: 0; /* Prevent buttons from shrinking */
}
